<!doctype html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students</title>
</head>
<body>

<div class="container">
<table>
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Action #1</td>
            <td>Action #2</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${studentsList}" th:object="${student}">
            <td th:text="${student.getFirstName()}"></td>
            <td th:text="${student.getLastName()}"></td>
            <td><a th:href="@{~/students/edit/{id}(id=*{id})}">EDIT</a></td>
            <td><a th:href="@{~/students/delete/{id}(id=*{id})}">DELETE</a></td>
        </tr>
    </tbody>
</table>


</div>

<div th:replace="footer :: copy"></div>


</body>
</html>